.page {
  max-width: 880px;
  margin: 0 auto 60px;
  color: white;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}


@media screen and (max-width: 768px) {
  .page {
    max-width: 680px;
  } 
}


@media screen and (max-width: 425px) {
  .page {
    max-width: 320px;
    margin-bottom: 36px;
  } 
}