.edit-popup__input-name {
  display: flex;
  border: none;
  border-bottom: 1px solid black;
  width: 238px;
  margin: 0px auto 30px;
}

@media screen and (min-width: 1024px) {
  .edit-popup__input-name {
    width: 358px;
  }
}