.edit-popup__input-status {
  display: flex;
  border: none;
  border-bottom: 1px solid black;
  width: 238px;
  margin: 0px auto 45px;
}

@media screen and (min-width: 1024px) {
  .edit-popup__input-status {
    width: 358px;
    margin-bottom: 48px;
  }
}