.popup__window {
  display: flex;
  flex-direction: column;

  width: 282px;
  min-height: 322px;

  background-color: #FFF;
  color: #000;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .popup__window {
    width: 430px;
    min-height: 330px;
  }
  
}