.popup__save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px auto 25px;
  width: 238px;
  height: 46px;
  color: white;

  background-color: #000;
  border: none;

  opacity: 1;
  transition: opacity 0.25s linear;
  cursor: pointer;

  font-size: 14px;
  line-height: 17px;
}

.popup__save-btn:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .popup__save-btn {
    margin: 48px auto 37px;
    width: 358px;
    height: 50px;

    font-size: 18px;
    line-height: 22px;
  }
  
}